 .topnav {
        z-index: 9999;
        margin-right: auto;
        background-color: rgb(152, 154, 154);
        text-align: center;
        position: fixed;
        width: 100%;
        left:0px;
        top:0px;
    }
    #a1{
        margin-left: 33%;
    }
    .topnav a {
        float: left;
        display: block;
        color: #fafdfd;
        font-size: 27px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change color on hover */
    .topnav a:hover {
        background-color: rgb(119, 119, 119);
        color: white;
    }
        #applyForm{
            color: #3C3F41;
            text-align: center;
           
        }
        #giftTitle{
            color: #3C3F41;
            text-align: center;
            letter-spacing: 3px;
            line-height: 2.0em;
            margin-top: 100px;
        }
        .square{
            font-size: 18px;
            letter-spacing: 3px;
            line-height: 2.0em;
            width:700px;
            height:60%;
            background-color:white;
            margin-left:auto;
            margin-right: auto;
            -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
        }
         footer {
         margin:0;
        background-color: #2d2d30;
        color: #f5f5f5;
        font-size: 15px;
        padding: 32px;
    }
    footer a {
        color: #f5f5f5;
    }
    footer a:hover {
        color: #777;
        text-decoration: none;
    }
    .footNav {
        margin-right: auto;
        overflow: hidden;
        background-color: rgb(152, 154, 154);
        text-align: center;
    }
    .footNav a {
        float: left;
        display: block;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change color on hover */
    .footNav a:hover {
        background-color: #D1D3CF;
        color: #6C4F70;
    }